@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

body {
  margin: 0;
  text-align: center;
  font-family: "Dancing Script", sans-serif;
  background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 100%); 
}

/* telas */
.tela {
  height: 100vh;
  display: none; /* todas começam escondidas */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 1s ease; /* transição suave */
}

/* quando ativa */
.tela.ativa {
  display: flex;
  opacity: 1;
}

/* botões */
button {
  background-color: #ff6f91;
  padding: 12px 20px;
  margin: 10px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}

/* botão não fugindo */
#nao {
  position: absolute;
}

/* slideshow */
#foto {
  width: 300px;
  border-radius: 15px;
  transition: opacity 1.5s;
}

/* corações */
#chuva-coracoes {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}
.coracao {
  position: fixed;
  top: -20px;
  animation: cair linear forwards;
  pointer-events: none;
}

@keyframes cair {
  0% {
    transform: translateY(0) translateX(0) rotate(0deg);
    opacity: 1;
  }
  25% {
    transform: translateY(25vh) translateX(10px) rotate(90deg);
  }
  50% {
    transform: translateY(50vh) translateX(-10px) rotate(180deg);
  }
  75% {
    transform: translateY(75vh) translateX(10px) rotate(270deg);
  }
  100% {
    transform: translateY(110vh) translateX(0) rotate(360deg);
    opacity: 0;
  }
}
/* cursor piscando */
#texto::after {
  content: "|";
  animation: piscar 1s infinite;
}
#texto {
  margin-left: 100px;
  margin-right: 100px;
}
@keyframes piscar {
  50% { opacity: 0; }
}
